/* Flex Direction */
.fd-Row {
  display: flex;
  flex-direction: row;
}

.fd-RowReverse {
  display: flex;
  flex-direction: row-reverse;
}
.fd-column {
  display: flex;
  flex-direction: column;
}
.fd-ColumnReverse {
  display: flex;
  flex-direction: column-reverse;
}

/* Flex Wrap */
.fw-NoWrap {
  display: flex;
  flex-wrap: nowrap;
}
.fw-Wrap {
  display: flex;
  flex-wrap: wrap;
}
.fw-WrapReverse {
  display: flex;
  flex-wrap: wrap-reverse;
}

/* Align Items */
.ai-FlexStart {
  display: flex;
  align-items: flex-start;
}
.ai-FlexEnd {
  display: flex;
  align-items: flex-end;
}
.ai-Center {
  display: flex;
  align-items: center;
}
.ai-Baseline {
  display: flex;
  align-items: baseline;
}
.ai-Stretch {
  display: flex;
  align-items: stretch;
}

/* Justify Content */
.jc-FlexStart {
  display: flex;
  justify-content: flex-start;
}
.jc-FlexEnd {
  display: flex;
  justify-content: flex-end;
}
.jc-SpaceBetween {
  display: flex;
  justify-content: space-between;
}
.jc-Center {
  display: flex;
  justify-content: center;
}
.jc-SpaceAround {
  display: flex;
  justify-content: space-around;
}
/* Align-Content */
.ac-FlexStart {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
}
.ac-FlexEnd {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-end;
}
.ac-Center {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}
.ac-SpaceBetween {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-between;
}
.ac-SpaceAround {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-around;
}
.ac-Stretch {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: stretch;
}
