/* Flex Direction */
.fd-Row {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 60%;
  background-color: white;
  border-radius: 2rem;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px 0px;
}

.fd-RowReverse {
  display: flex;
  flex-direction: row-reverse;
  width: 80%;
  height: 60%;
  background-color: white;
  border-radius: 2rem;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px 0px;
}
.fd-column {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 60%;
  background-color: white;
  border-radius: 2rem;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px 0px;
}
.fd-ColumnReverse {
  display: flex;
  flex-direction: column-reverse;
  width: 80%;
  height: 60%;
  background-color: white;
  border-radius: 2rem;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px 0px;
}

/* Flex Wrap */
.fw-NoWrap {
  display: flex;
  flex-wrap: nowrap;
  width: 80%;
  height: 60%;
  background-color: white;
  border-radius: 2rem;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px 0px;
}
.fw-Wrap {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  height: 60%;
  background-color: white;
  border-radius: 2rem;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px 0px;
}
.fw-WrapReverse {
  display: flex;
  flex-wrap: wrap-reverse;
  width: 80%;
  height: 60%;
  background-color: white;
  border-radius: 2rem;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px 0px;
}

/* Align Items */
.ai-FlexStart {
  display: flex;
  align-items: flex-start;
  width: 80%;
  height: 60%;
  background-color: white;
  border-radius: 2rem;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px 0px;
}
.ai-FlexEnd {
  display: flex;
  align-items: flex-end;
  width: 80%;
  height: 60%;
  background-color: white;
  border-radius: 2rem;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px 0px;
}
.ai-Center {
  display: flex;
  align-items: center;
  width: 80%;
  height: 60%;
  background-color: white;
  border-radius: 2rem;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px 0px;
}
.ai-Baseline {
  display: flex;
  align-items: baseline;
  width: 80%;
  height: 60%;
  background-color: white;
  border-radius: 2rem;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px 0px;
}
.ai-stretch {
  display: flex;
  align-items: stretch;
  width: 80%;
  height: 60%;
  background-color: white;
  border-radius: 2rem;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px 0px;
}

/* Justify Content */
.jc-FlexStart {
  display: flex;
  justify-content: flex-start;
  width: 80%;
  height: 60%;
  background-color: white;
  border-radius: 2rem;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px 0px;
}
.jc-FlexEnd {
  display: flex;
  justify-content: flex-end;
  width: 80%;
  height: 60%;
  background-color: white;
  border-radius: 2rem;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px 0px;
}
.jc-SpaceBetween {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 60%;
  background-color: white;
  border-radius: 2rem;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px 0px;
}
.jc-Center {
  display: flex;
  justify-content: center;
  width: 80%;
  height: 60%;
  background-color: white;
  border-radius: 2rem;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px 0px;
}
.jc-SpaceAround {
  display: flex;
  justify-content: space-around;
  width: 80%;
  height: 60%;
  background-color: white;
  border-radius: 2rem;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px 0px;
}
